/*
!.gitignore
!wp-content/

wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
wp-content/plugins/*
#!wp-content/plugins/my-single-file-plugin.php
#!wp-content/plugins/my-directory-plugin/
 
wp-content/themes/*
!wp-content/themes/newsmag-lite
!wp-content/themes/wire
